@page "/todo"
@rendermode InteractiveServer

<h3>Todo List</h3>
<input @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new();
    string newTodo = "";
    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

}
<br /><br />
<h3>Pending Tasks  <span class="todo-count">(@todos.Count(todo => !todo.IsDone))</span></h3>

<ul class="rem-mark">
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            @* <input @bind="todo.Title" /> *@
            <label>@todo.Title</label>
        </li>
    }
</ul>








